body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f08888 0%, #a0080f 100%);
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 50px 0;
    color: #faf4f4;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #796b69;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

.project {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: #f78989;
}

.project img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: #f45c43;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #ff5733;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #4b0404;
    color: #fff;
}
